

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

<br>

        <!-- Main content -->
        <a class="image" >
          <img src="assets/dist/img/sagemlogo.png"   alt="User Image">
        </a>

        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<br>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
      <br>
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 class="card-title">Contact</h5>

            <p class="card-text">
              <a style="text-align: center">

                <i class="fas fa-phone bg-white"></i> &nbsp;
                71297100 <br>

                <i class="fas fa-envelope bg-white"></i> &nbsp;
              <EM>contact@sagemcom.com</EM>  <br>
              </a>
            </p>

          </div>
        </div><!-- /.card -->
      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="m-0">Location</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Adresse </h6>

            <p class="card-text">
              <i class="fas fa-search-location bg-white"></i> &nbsp;
              <small>34 Avenue de Paris,Megrine 2033</small></p>

          </div>
        </div>

        <div class="card card-primary card-outline">
          <div class="card-header">
            <h5 class="m-0"> Web</h5>
          </div>
          <div class="card-body">


            <p >
              <i class="fas fa-search bg-white"></i> &nbsp;
              <EM>www.sagemcom.com</EM></p>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
